.header {  
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.heading {
  padding-top: 5px;
  font-size: 24px;
  font-weight: 400;
}

.goback {
    text-decoration: none;
}

.page {
    padding: 40px;
    width: 80%;    
    margin: auto;
    font-family: "Lato', sans-serif";
}

.buttons {
    float: right;
}