.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.status {
  padding-bottom: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
}

.game {
  padding: 40px;
}

.board-row {
  display: table;
}

.step {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.win {
  background-color: grey;
}

.board {
  padding-bottom: 20px;
}
