.header {
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.heading {
  padding-top: 5px;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  font-family: "Lato', sans-serif";
}

.listItem {
  padding: 10px;
  font-size: 16px;
  display: flex;
}

.itemDescription {
  color: grey;
  font-size: 14px;
}

.navigationBar {
  justify-content: space-between;
}

.page {
  width: 80%;
  margin: auto;
}
