
.itemDescription {
  color: grey;
  font-size: 14px;
}

.navigationBar {
  justify-content: space-between;
}

.fullPage {
  background-color: #F8F8FA;
  height : 100%;
}

.page {
  width: 80%;
  margin: auto;    
  background-color: #F8F8FA;
}

